<p id="notice"><%= notice %></p>

<h1>Pieces</h1>

<%= render 'search_form' %>

<br>

<% if @pieces.blank? %>
  <h4>There are no pieces matching your search</h4>
<% else %>
  <table>
    <%= render 'search_result_header'%>

    <tbody>
      <% @pieces.each do |piece| %>
        <%= render 'search_result', piece: piece %>
      <% end %>
    </tbody>
  </table>
<% end %>
